body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header{
    background-color: #2f80ed;
    color: white;
    text-align: center;
    padding: 30px;
}

/* Navbar */
.custom-nav{
    background-color: #222;
}

/* Content */
.content{
    padding: 30px;
}

/* Boxes */
.box{
    border: 1px solid gray;
    padding: 20px;
    min-height: 180px;
}

/* Footer */
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}